body {
  overflow-y: hidden;
}

.primary-color {
  color: #ffb300;
}

.primary-bg {
  background-color: #ffb300;
}

.content-section {
  height: calc(100vh - 3rem);
}

.content-bg {
  background-color: #f5f6fa;
}

.tab-link {
  border-bottom: 2px solid transparent;
  display: block;
}
.tab-link:hover {
  border-bottom: 2px solid rgb(54, 57, 238);
}

.items-section {
  height: calc(100vh - 18rem);
  overflow-y: auto !important;
}

.items-section::-webkit-scrollbar {
  width: 1px;
}

.shade {
  box-shadow: rgba(0, 0, 0, 0.05) -4px 9px 25px -6px;
}
